[Desktop Entry]
Name=kdeme
Comment=My custom Aurorae window decoration
X-KDE-PluginInfo-Name=kdeme
X-KDE-PluginInfo-Author=Miraficus
X-KDE-PluginInfo-Email=your@email.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Category=Window Decoration
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-EnabledByDefault=true